@font-face {
  font-family: 'Resist Sans';
  src: url('/RESIST_FONT/resist-sans-text.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Resist Sans';
  src: url('/RESIST_FONT/resist-sans-text-5.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Resist Sans';
  src: url('/RESIST_FONT/resist-sans-text-7.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Resist Sans';
  src: url('/RESIST_FONT/resist-sans-text-9.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
} 

@font-face {
  font-family: 'Resist Sans';
  src: url('/RESIST_FONT/resist-sans-9.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
